body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.resume-container {
    width: 60%;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
